CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

#*.dns
#*.http

Project.cbp

*.backup

Main
out
ReceiveRatio

build/
debug.txt
dnsPcap/
notInDns*

localData/
question.txt
run
#py/

.idea/
.vscode/

*.png
